<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <div>
                <h1> {{ list_detail.name }} </h1>
                <h2>Tasks</h2>
                <a href="{% url 'todo_list_update' list_detail.id %}">Update List</a>
                <a href="{% url 'todo_list_delete' list_detail.id %}">Delete List</a>
                <table>
                    <thead>
                        <th>Tasks </th>
                        <th>Due Date</th>
                    </thead>
                    <tbody>
                        {% for item in list_detail.items.all %}
                        <tr>
                            <td> <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a> </td>
                            <td> {{ item.due_date|date:"M d, Y"}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </body>
</html>
