<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <div>
                <h1>My Todo List</h1>
                <a href="{%url 'todo_list_create' %}">Create A New List!</a>
                <a href="{%url 'todo_item_create' %}">Create A New Item!</a>
                <table>
                    <thead>
                        <th>Name </th>
                        <th>Number of Items</th>
                    </thead>
                    <tbody>
                        {% for item in todo_list_list %}
                        <tr>
                            <td> <a href="{% url 'list_detail' item.id %}">{{ item.name }}</a> </td>
                            <td> {{ item.items.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </body>
</html>

{% comment %} <a href="{% url 'todo_list_detail' lists.id %}">{{ lists.name }}</a> {% endcomment %}
